!.coveragerc
!.travis.yml
!.codeclimate.yml
!.editorconfig
!.jshintrc
!.jscsrc
*.DS_Store
*.egg
*.lock
*.log
*.pid
*.pyc
*.sqlite
*.sublime-*
*.svn
*.swp
*.xml
*~
coverage-*.txt
.*
.coverage
.editorconfig
.project
.pydevproject
.ropeproject
.settings
.idea
.tox
/*.egg-info/
/*.egg/
/*env*/
/dist
/docs/*.html
/docs/_build
/reversion/
aldryn_reversion.egg-info
bin
env
build
htmlcov/
cms/django
cms/docs/build
cms/media/cms_page_media/
cms/static/cms/compass_app_log.txt
develop-eggs
dist
distribute-*.tar.gz
downloads
eggs
example/local_settings.py
example/run
htmlcov
include/
lib/
man/
parts
share/
docs/env
node_modules/