!.coveragerc
!.travis.yml
*.DS_Store
*.egg
*.lock
*.log
*.pid
*.pyc
*.sqlite
*.sublime-*
*.svn
*.swp
*.xml
*~
.*
.editorconfig
.project
.pydevproject
.ropeproject
.settings
/*.egg-info/
/*.egg/
/*env*/
/dist
/docs/*.html
/docs/_build
/reversion/
aldryn_reversion.egg-info
bin
build
cms/django
cms/docs/build
cms/media/cms_page_media/
cms/static/cms/compass_app_log.txt
develop-eggs
dist
distribute-*.tar.gz
downloads
eggs
example/local_settings.py
example/run
htmlcov
include/
lib/
man/
parts
share/
